<!DOCTYPE html>
<html>
    <head>
        <title>EDM and Data Analysis - @jasdev</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <div class="wrapper">
            <h1>Bridging Data and Dance Music</h1>
            <h3>A UVa Undergraduate Thesis</h3>

            <a class="primary-link" href="/top100landing">DJMag Top 100 Search</a>
            <a class="primary-link" href="/ezoo">Electric Zoo Network</a>
            <a class="primary-link" href="https://soundcloud.com/jasdev-singh/beatport-top-10-drops">BeatPort Top 10 Drop Detection</a>

            <div id="main">
            </div>
        </div>

        <div class="push"></div>

        <div class="footer">
            <div class="icon">
                <a href="https://medium.com/@jasdev" target="_blank"><img src="../static/img/medium.png" height="80" width="80"></a>
                <a href="https://github.com/Jasdev/soundcloud-sentiment" target="_blank"><img src="../static/img/octocat.png" height="94" width="114"></a>
                <a href="" target="_blank"><img src="../static/img/speakerdeck.png" height="80" width="80"></a>
            </div>
            <a href="https://twitter.com/jasdev" target="_blank">@jasdev</a>
        </div>
        <script src="../static/js/jquery.js"></script>
    </body>
</html>