<!DOCTYPE html>
<html>
<head>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.js"></script>
    <link rel="stylesheet" href="../static/css/top100.css">
</head>
<body>
    <div id="viz"></div>
    <script>
    Math.fmod = function (a,b) { return Number((a - (Math.floor(a / b) * b)).toPrecision(8)); };
    d3.text("../static/datasets/dj-mag-top-100.csv", function(datasetText) {

    var parsedCSV = d3.csv.parseRows(datasetText);

    var sampleHTML = d3.select("#viz")
        .append("table")
        .style("border-collapse", "collapse")
        .style("border", "2px black solid")

        .selectAll("tr")
        .data(parsedCSV)
        .enter().append("tr")

        .selectAll("td")
        .data(function(d){return d;})
        .enter().append("td")
        .attr("class", function(d){return d.replace(/\s+/g, '').replace('&', '');})
        .style("border", "1px black solid")
        .style("padding", "5px")
        .text(function(d){return d;})
    });
    </script>
    <script src="../static/js/top100.js"></script>
</body>
</html>